{% extends 'base.html' %} {% block content %}
<!--<style>
#report-content {
	font-family: "微软雅黑";
}

h2 {
	font-family: "微软雅黑" "黑体";
	font-size: 18pt;
	font-weight: bold;
	color: black;
	padding: 12px;
	margin: 0;
}

.spa {
	font-size: 12px;
	color: #0066ff;
}

.put {
	font-size: 12px;
	font-family: Arial;
	color: #0066ff;
	background-color: #fef4d9;
	padding: 0px;
	border-style: none;
}

.put2 {
	font-size: 12px;
	color: #0066ff;
	text-align: center;
	border-width: medium;
	border-style: none;
}
</style>
  -->

<!--script type="text/javascript">
$(document).ready(function(){ 
	$("#form0").submit(function() {
        var filepath=$("input[name='data_file']").val(); 
        var extStart=filepath.lastIndexOf("."); 
        var ext=filepath.substring(extStart,filepath.length).toUpperCase(); 
        if(ext!=".HPROF"&&ext!=".TXT"){ 
			alert("文件限于hprof和txt格式"); 
			return false; 
        }          
		return true;       
	}); 
}); 
</script-->

{% if form.errors %}
<p style="color: red;">Please correct the error{{
	form.errors|pluralize }} below.</p>
{% endif %}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-horizontal" action="" method="post">
				{% csrf_token %}

				<div class="control-group">
					<label class="control-label" for="id_task_uid">目标用户ID:</label>
					<div class="controls">{{ form.task_uid }}
						{{form.task_uid.errors }}</div>
				</div>
				<div class="control-group">
					<label for="id_msg">内容：</label>
					<div class="controls">{{ form.msg }}{{ form.msg.errors }}</div>
				</div>
				<div class="control-group">
					<label for="id_count">数量:</label>
					<div class="controls">{{ form.count }}{{ form.count.errors }}</div>
				</div>
				<div class="control-group">
					<label for="id_type">类型:</label>
					<div class="controls">{{ form.type }}{{ form.type.errors }}</div>
				</div>
			
				

				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
