{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container-fluid">
						<a class="btn btn-navbar"
							data-target=".navbar-responsive-collapse" data-toggle="collapse"></a>
						<a class="brand" href="#">消息压力测试平台</a>
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<li class="active"><a href="#">主页</a></li>

								<li class="dropdown"><a class="dropdown-toggle"
									data-toggle="dropdown" href="#">下拉菜单</a>
									<ul class="dropdown-menu">
										<li><a href="#">下拉导航1</a></li>
										<li><a href="#">下拉导航2</a></li>
										<li><a href="#">其他</a></li>
										<li class="divider"></li>
										<li class="nav-header">标签</li>
										<li><a href="#">链接1</a></li>
										<li><a href="#">链接2</a></li>
									</ul></li>
							</ul>
							<ul class="nav pull-right">
								<li class="divider-vertical"></li>
								<li class="dropdown"><a class="dropdown-toggle"
									data-toggle="dropdown" href="#">下拉菜单</a>
									<ul class="dropdown-menu">
										<li><a href="#">下拉导航1</a></li>
										<li><a href="#">下拉导航2</a></li>
										<li><a href="#">其他</a></li>
										<li class="divider"></li>
										<li><a href="#">链接3</a></li>
									</ul></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="inputEmail">邮箱</label>
					<div class="controls">
						<input id="inputEmail" type="text" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPassword">密码</label>
					<div class="controls">
						<input id="inputPassword" type="password" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<label class="checkbox"><input type="checkbox" />
							Remember me</label>
						<button class="btn" type="submit">登陆</button>
					</div>
				</div>
			</form>
		</div>
		<div class="span6">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>编号</th>
						<th>产品</th>
						<th>交付时间</th>
						<th>状态</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>TB - Monthly</td>
						<td>01/04/2012</td>
						<td>Default</td>
					</tr>
					<tr class="success">
						<td>1</td>
						<td>TB - Monthly</td>
						<td>01/04/2012</td>
						<td>Approved</td>
					</tr>
					<tr class="error">
						<td>2</td>
						<td>TB - Monthly</td>
						<td>02/04/2012</td>
						<td>Declined</td>
					</tr>
					<tr class="warning">
						<td>3</td>
						<td>TB - Monthly</td>
						<td>03/04/2012</td>
						<td>Pending</td>
					</tr>
					<tr class="info">
						<td>4</td>
						<td>TB - Monthly</td>
						<td>04/04/2012</td>
						<td>Call in to confirm</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock content %}